@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
   

}
.navbar-left{
    display: flex;
    align-items: center;

}
.links{
    margin-left: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    
    
}
